.loading{width:100px;height:100px; position:relative;}
.loading::before,.loading::after{content:'';width:0px; height:0px; top:0px;left:0px;right:0px;bottom:0px;
    margin:auto;background:black;border-radius:50%;position:absolute;animation:s 1.5s linear infinite;}
.loading::after{animation-delay:0.75s;}
@keyframes s{
      0%{ width:0px;height:0px;opacity:1; }
    100%{width:100px;height:100px;opacity:0;}
  }